<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    <form method="post" action="/autenticar">
        <fieldset>
            <legend>Entre com suas informaçoes</legend>
            <label for="">Login</label>
            <input type="text" name = 'txtLogin'>

            <label>Senha</label>
            <input type="password" name = 'txtSenha'>

            <button type="submit" >Logar</button>
        </fieldset>
    </form>
</body>
</html>